<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CRUD VUE</title>
  </head>
  <body>
    <div id="crud">
      <h1 v-text="mensaje"></h1>
      <hr>
        <!-- {{userpost}}
        {{posts}} -->

        <saludo :varnombre="mensaje"></saludo>
        <br>Nota: <input type="text" v-model="nota"></input>
        <h2 style="color:green" v-if="nota && nota == 5">¡EXCELENTE!</h2>
        <h2 style="color:blue" v-else-if="nota && nota >= 3 && nota < 5">¡paso!</h2>
        <h2 style="color:red" v-else-if="nota && nota < 3 && nota >= 0">¡NO PASO!</h2>
        <h2 v-else="">caracteres invalidos</h2>

        <hr>
        <h1>CONSUMO DE APIS</h1>
        <a href="#" v-if="mostrar" @click="mostrar=false">ocultar</a><a href="#" v-else @click="mostrar=true">mostrar</a>
        <div v-if="mostrar">
          <input type="text" placeholder="Buscar" v-model="bpost">
          <table border="1">
            <tr>
              <th>ID POST</th>
              <th>NOMBRE USER</th>
              <th>TITULO</th>
              <th>CUERPO</th>
            </tr>
            <tr v-for="(post, index) in postfiltrados" v-show="(pagina-1)*numero <= index && pagina*numero > index">
              <td>{{ post.id }}</td>
              <td><span v-for="user in userpost"><span v-if="user.id == post.userId">{{user.username}}</span></span></td>
              <td>{{ post.title }}</td>
              <td>{{ post.body }}</td>
            </tr>
          </table>
          Paginar
          <select v-model="numero">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="3">Personalizar</option>
          </select>
          <input type="text" v-if="numero != 10 && numero != 20" v-model="numero">
          <a href="#" @click.prevent="pagina=pagina-1" v-show="pagina != 1">Anterior</a>
          <a href="#" @click.prevent="pagina=pagina+1" v-show="(pagina * numero)/(posts.length) < 1">Siguiente</a>
      </div>
        <!-- <span v-for="post in posts">
          ID:{{ post.id }}<br>
          NOMBRE USUARIO:<span v-for="user in userpost"><span v-if="user.id == post.userId">{{user.username}}</span></span><br>
          TITULO:{{ post.title }} <br>
          CUERPO:{{ post.body }} <br>
          ________________________ <br>
        </span> -->
      <hr>
      <form @submit.prevent="CrearSerie2" method="post">
        Escriba para agregar una serie:<input v-model="nuevaserie">
        <button name="button">Crear</button>
      </form>

      <h1>Listados Series</h1>
      <ul v-if="series.length>0" >
        <li v-for="(serie, indice) in ordenarserie">
          <input v-if="eserie==indice" type="text" name="serie" v-model="series[indice]">
          <span v-else>{{ indice }}-{{ serie }} </span>
          <div v-if="eserie!=indice">
            <a href="#" @click.prevent="eserie=indice">Editar</a>
            <a href="#" @click.prevent="eliminarSerie(indice)">Eliminar</a>
          </div>
          <a v-else href="#" @click.prevent="eserie=null">Actualizar</a>
        </li>
      </ul>

      <hr>
      <form>
          Escriba para agregar una serie:<input type="text" v-model="nuevaserie">
          <input @click="CrearSerie(nuevaserie)" type="button" value="add">
      </form>

        <h1>Listados Series MIO</h1>
        <ul v-for="(serie, indice) in series">
          <li>
            {{ serie }}({{ indice }}) <a href="#" @click.prevent="EliminarSerie(indice)">Eliminar</a>
          </li>
        </ul>

        <hr>
        <!-- Clase 27 abril -->
        <input type="text" placeholder="Buscar..." v-model="bpelicula">
        Buscar por:
    		<select v-model="buscarPorCategoria" >
    			<option value="1">Nombre</option>
    			<option value="2">Estreno</option>
    			<option value="3">Sinopsis</option>
    		</select>
        <!-- fin clase 27 abril -->
        <form @submit.prevent="crearPelicula">
          <h2>Agregar una pelicula.</h2>
          <input type="text" v-model="nuevapelicula.id" placeholder="ID">
          <input type="text" v-model="nuevapelicula.nombre" placeholder="NOMBRE">
          <input type="text" v-model="nuevapelicula.estreno" placeholder="ESTRENO"><br>
          <textarea type="text" v-model="nuevapelicula.sinopsis" placeholder="SINOPSIS"></textarea>
          <button  name="button">Crear</button>
        </form>
        <h1>Tabla Peliculas </h1>
        <table style="width:100%" border="1">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Estreno</th>
            <th>Sinopsis</th>
            <th>Acciones</th>
          </tr>
          <tr v-for="(peli,indice) in peliculasfiltradas">
            <td>
              <span v-if="epelicula!=indice">{{peli.id}}</span>
              <input v-else type="number" name="id" v-model="peli.id">
            </td>
            <td>
              <span v-if="epelicula!=indice">{{peli.nombre}}</span>
              <input v-else type="text" name="id" v-model="peli.nombre">
            </td>
            <td>
              <span v-if="epelicula!=indice">{{peli.estreno}}</span>
              <input v-else type="number" name="id" v-model="peli.estreno">
            </td>
            <td>
              <span v-if="epelicula!=indice">{{peli.sinopsis}}</span>
              <textarea v-else name="sinopsis" rows="8" cols="80" v-model="peli.sinopsis"></textarea>
            </td>

            <td >
              <span v-if="epelicula!=indice">
                <button  @click.prevent="eliminarPelicula(indice)" type="button">Eliminar</button>
                <button  @click.prevent="epelicula=indice" type="button">Editar</button>
              </span>
              <button v-else @click.prevent="epelicula=null" type="button">Actualizar</button>
            </td>
          </tr>
        </table>
        <hr>

        <input type="text" placeholder="Buscar..." v-model="buscarPelicula">

        <form v-if="crear">
          <h2>Agregar una pelicula.MIO.</h2>
          Nombre:<input type="text" v-model="nuevoNombrePelicula">
          Año de estreno:<input type="text" v-model="nuevoEstrenoPelicula">
          Sinopsis:<input type="text" v-model="nuevoSinopsisPelicula">
          <input  v-if="camposLlenosPeli" type="button" @click="CrearPelicula(nuevoNombrePelicula,nuevoEstrenoPelicula,nuevoSinopsisPelicula)" value="add">
        </form>

        <form v-if="!crear">
          <h2>Editar la pelicula: {{peliculas[idpeli].nombre}}.</h2>
          Nombre:<input type="text" v-model="peliculas[idpeli].nombre">
          Año de estreno:<input type="text"  v-model="peliculas[idpeli].estreno">
          Sinopsis:<input type="text" v-model="peliculas[idpeli].sinopsis">
          <input type="button" @click="EditarPelicula(peliculas[idpeli].nombre,peliculas[idpeli].estreno,peliculas[idpeli].sinopsis,idpeli)" value="update">
        </form>

        <h1>Tabla Peliculas MIO</h1>
        <table style="width:100%" border="1">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Estreno</th>
            <th>Sinopsis</th>
            <th>Acciones</th>
          </tr>
          <tr v-for="(peli,indice) in filtrarPelicula" >
            <td>{{ indice}}</td>
            <td>{{ peli.nombre }}</td>
            <td>{{ peli.estreno }}</td>
            <td>{{ peli.sinopsis }}</td>
            <td><a href="#" @click.prevent="EliminarPelicula(indice)">Eliminar</a><br><a href="#" @click.prevent="FormEditar(indice)">Editar</a></td>
          </tr>
        </table>
       <hr>



       <hr>
      <pre>{{$data | json}}</pre>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="js/main.js"></script>
